{% extends '::backend.html.twig' %}
{% block id 'ciudad' %}

{% block title %}Modificar la ciudad {{ ciudad.nombre }}{% endblock %}
{% block article %}

<h1>{{ block('title') }}</h1>
<form action="{{ path('backend_ciudad_actualizar', { 'id': ciudad.id }) }}"
method="post">
{{ form_widget(formulario) }}
    <input type="submit" value="Guardar cambios" />
</form>
<ul>
    <li>
        <a href="{{ path('backend_ciudad') }}">Volver al listado</a>
    </li>
    <li>
        <a href="{{ path('backend_ciudad_borrar', { 'id': ciudad.id })
        }}">Borrar</a>
    </li>
</ul>
{% endblock %}