{% extends '::backend.html.twig' %}

{% block article %}
<h1>Oferta lista</h1>

<ul class="paginador">
    {% if paginador.currentPage > 1 %}
    <li><a href="{{ path('backend_oferta', { 'page': paginador.previousPage
    }) }}">Anterior</a></li>
    {% else %}
    <li>Anterior</li>
    {% endif %}
    {% for page in paginador.minPageInRange..paginador.maxPageInRange %}
    {% if page == paginador.currentPage %}
    <li class="actual">{{ page }}</li>
    {% else %}
    <li><a href="{{ path('backend_oferta', { 'page': page }) }}">{{ page
    }}</a></li>
    {% endif %}
    {% endfor %}
    {% if paginador.currentPage < paginador.lastPage %}
    <li><a href="{{ path('backend_oferta', { 'page': paginador.nextPage })
    }}">Siguiente</a></li>
    {% else %}
    <li>Siguiente</li>
    {% endif %}
</ul>

<table class="records_list">
    <thead>
    <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Descuento</th>
    <th>Fecha_publicacion</th>
    <th>Fecha_expiracion</th>
    <th>Compras</th>
    <th>Umbral</th>
    <th>Revisada</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
    <td><a href="{{ path('backend_oferta_show', { 'id': entity.id })
    }}">{{ entity.id }}</a></td>
    <td>{{ entity.nombre }}</td>
    <td>{{ entity.precio }}</td>
    <td>{{ entity.descuento }}</td>
    <td>
    {% if entity.fechapublicacion %}
    {{ entity.fechapublicacion|date('Y-m-d H:i:s') }}
    {% endif%}
    </td>
    <td>
    {% if entity.fechaexpiracion %}
    {{ entity.fechaexpiracion|date('Y-m-d H:i:s') }}
    {% endif%}
    </td>
    <td>{{ entity.compras }}</td>
    <td>{{ entity.umbral }}</td>
    <td>{{ entity.revisada }}</td>
    <td>
    <ul>
        <li><a href="{{ path('backend_oferta_show',
        { 'id': entity.id }) }}">show</a></li>
        <li><a href="{{ path('backend_oferta_edit',
        { 'id': entity.id }) }}">edit</a></li>
    </ul>
    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<ul>
    <li><a href="{{ path('backend_oferta_new') }}">Create a new entry</a></li>
</ul>
{% endblock %}